﻿@model IEnumerable<Homework6.Models.Product>

@{
    ViewBag.Title = "GetProducts";
}

<h2>Products</h2>
<ol>
    @foreach (var item in Model)
    {
        <li>
            <a href="../Home/GetProductInfo?productName=@item.ProductID "class="btn btn-success">@Html.DisplayFor(modelItem => item.Name)</a>
        </li>
    }
</ol>



