﻿@model IEnumerable<Homework6.Models.ProductSubcategory>

@{
    ViewBag.Title = "GetSubCategories";
}

<h2>@Model.First().ProductCategory.Name</h2>

    <ol>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "GetProducts", "Home", new { subcategory = item.Name.ToString(), @class = "btn btn-primary" }, null)</li>

        }
    </ol>
