﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/logo.jpg" width="75%"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our History</h2>
        <p>
            In 2000, Adventure Works Cycles bought a small manufacturing plant, Importadores Neptuno, located in Mexico. 
            Importadores Neptuno manufactures several critical subcomponents for the Adventure Works Cycles product line. 
            These subcomponents are shipped to the Bothell.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Culture</h2>
        <p>
        We are a large, multinational manufacturing company. 
        We manufacture and and sell metal and composite bicycles to North American, European and Asian commercial markets. 
        our base operation is located in Bothell, Washington with 290 employees.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Values</h2>
        <ul>
            <li>The customer is always right.</li>
            <li>We sell bikes and bike product accessories.</li>
            <li>We ride what we sell.</li>
        </ul>
    </div>
</div>