﻿@model IEnumerable<Homework8.Classification>

@{
    ViewBag.Title = "Index";
}

<h2>Classifications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtWork)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtWork)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassificationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassificationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassificationID })
        </td>
    </tr>
}

</table>
