﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CS460 HW4</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Loan Calculator", "LoanCalc", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Submit A Comment", "GetPage", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <div class="container-fluid col-md-12 vcenter">
        <hr />
        <ul>
            <li>
                <a title="Home" href="https://www.facebook.com/whitney.meulink.1" target="_blank"><img class="icon img-rounded" src="~/Controllers/images/FacebookIcon.png" alt="facebook_icon" /></a>
            </li>

            <li>
                <a title="Follow me on Google+" href="https://plus.google.com/u/0/104133654034466822866" target="_blank"><img class="icon img-rounded" src="~/Controllers/images/GooglePlusIcon.png" alt="googleplus_icon" /></a>
            </li>
            <li>
                <a title="Connect with me on Linkedin" href="https://www.linkedin.com/in/whitney-meulink-10a04585" target="_blank"><img class="icon img-rounded" src="~/Controllers/images/LinkedinIcon.png" alt="linkedin_icon" /></a>
            </li>
            <li>
                <a title="Check out my Bitbucket" href="" target="_blank"><img class="icon img-rounded" src="~/Controllers/images/BitbucketIcon.png" alt="bitbucket_icon" /></a>
            </li>

            <li>
                <a title="Home" href="mailto:wmeulink15@mail.wou.edu?Subject=Contacting%20via%20your%20website" target="_blank"><img class="icon img-rounded" src="~/Controllers/images/GmailIcon.png" alt="gmail_icon" /></a>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Whitney Meulink</p>
        </footer>
    </div>

</body>
</html>
