﻿@model WebApplication4.Models.ProductReview

@using WebApplication4.Models


@{
    ViewBag.Title = ViewBag.productName;
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>@ViewBag.productName</h2>
<text>@ViewBag.description</text>

<h3>Submit Review:</h3>
<div class="form-horizontal">
    @using (Html.BeginForm("ProductDetails", "Products", FormMethod.Post))
    {


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ProductID)
        @Html.HiddenFor(model => model.ProductReviewID)
        @Html.HiddenFor(model => model.ReviewDate)
        @Html.HiddenFor(model => model.ModifiedDate)

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReviewerName)
                @Html.ValidationMessageFor(model => model.ReviewerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", @min = "1", @max = "5", @maxlength = "1", @Value = "5" } })
                @Html.ValidationMessageFor(model => model.Rating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <br />

        <input type="submit" value="Create" class="btn btn-default" />
    }</div>
    @{ Html.EndForm();}

    @{

    }

    <h3>Reviews:</h3>
    @{
        <ul class="list-group">

            @foreach (ProductReview review in ViewBag.curReviews)
            {
                <li class="list-group-item">
                    <ul class="list-group">
                        <li class="list=group-item">@review.ReviewerName</li>
                        <li class="list-group-item">Rating: @review.Rating</li>
                        <li class="list-group-item">Email:  @review.EmailAddress</li>
                        <li class="list-group-item">@review.Comments</li>

                    </ul>
                </li>

            }

        </ul>



    }
