﻿@model IEnumerable<WebApplication4.Models.ProductSubcategory>
<body>

    <table>
        <text>Product Subcategories</text>
        @foreach (var x in Model)
            {
            <tr>
                <th>
                    @Html.ActionLink(x.Name, "ViewProducts", "Products", new { id = x.ProductSubcategoryID }, "")
                </th>
            </tr>
        }

    </table>
</body>


<style>

    body{

         padding: 100px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 20px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>