﻿@model IEnumerable<WebApplication4.Models.Product>

@{
    ViewBag.Title = "ViewProducts";
}
<body>

    <table>

        @foreach (var x in Model)
        {
            <tr>
                <th>
                    @Html.ActionLink(x.Name, "ProductDetails", "Products", new { id = x.ProductID }, "")
                </th>
            </tr>
        }

    </table>
</body>






<style>
    body {
    padding: 100px;
    
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>