﻿@model IEnumerable<Homework8.Genre>
@{
    ViewBag.Title = "Home Page";
}

<center>
    <h1>Welcome To Homework 8</h1>
    <img id ="centerImage" src="@Url.Content("~/Content/escher_circle.jpg")" alt="IMAGES" />
</center>

<div class="row">
    <div class="col-md-6">
        @foreach(var genre in Model)
        {
            <div>
                <button class="btn btn-primary genreButton" onclick="buildTable(`@genre.Name`)">@genre.Name</button>
            </div>
            <br />
        }
    </div>
    <div class="col-md-6" id="table-container">

    </div>
</div>


<script>
    function buildTable(genre){
        $("#table-container").html('');
        $.getJSON('../Genre/?genre=' + genre, (data) => {
            let tableHtml = "<h3>" + genre +"</h3><table style='width:100%'><tr><th>Name</th><th>ArtWork</th></tr>";
            for(let i = 0; i < data.length; i++)
            {
                tableHtml += "<tr><td>";
                tableHtml += data[i].Key;
                tableHtml += "</td><td>"
                tableHtml += data[i].Value;
                tableHtml += "</td></tr>";

            }

            tableHtml += "</table>";
            
            $("#table-container").html(tableHtml);
        });

    }


</script>
