﻿

@{
    ViewBag.Title = "GetPage";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="get" class="form-inline">

            <div class="form-group">
                <label for="word1">Enter a commment or suggestion: </label>
                <input type="text" name="word1" value="" placeholder="Enter a comment" />
            </div>
            <button type="submit" class="btn btn-default" name="submit">Submit</button>
        </form>
        <center>
            <h4>@ViewBag.NewComment</h4>
        </center>
    </div>
</div>