#myHeader {
     font-style: italic;
    font: Times New Roman;
    align-content: center;
    color: darkorchid;
}

table {
    
   border: 3px solid black;
    
     max-height: 450px;
   
}

td {
        
border: 3px solid black;
    background-color: white;
}
th{
    border: 3px solid black;
    background-color: white;
    
}


#myNavbar
{
    padding-top: 20px;
    color: black;
    align-items: center;
      height: 100%;
}

body {
    background-image: url("../images/cs.jpg");
}

#myself
{
    border: 3px solid black;
    max-height: 425px;
    align-content: center;
}

#container2 {
    align-content: right;
}