<style>
.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}


#myNavBar{
margin-bottom: 0;
    border-radius: 0;}

p1
{
     
    color: black;
    font-size: 30px;
    
    
}
p2
{
    color: black;
    font-size: 50px;
    font-size: bolder;
}


body {
    background-image: url("../images/mybackGround.jpg");
}

</style>

