﻿@model IEnumerable<Homework8.ArtWork>

@{
    ViewBag.Title = "Index";
}

<h2>Art Work</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist1.BirthCity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist1.BirthCity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Title }) |
            @Html.ActionLink("Details", "Details", new { id=item.Title }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Title })
        </td>
    </tr>
}

</table>
