


body {
    background-image: url("../images/math.jpg");
}
/* Size and position of footer */
#footer {
    text-align: center;
    height: 5em;
    line-height: 5em;
}

#myNavbar
{
    padding-top: 20px;
    color: black;
    font-weight: 300
    align-items: center;
      height: 100%;
}

/* Remove list item markings */
#footer ul {
    list-style: none;
}

/* Positioning of social media links */
#footer li {
    display: inline-block;
    margin: 0 2em 0 2em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* Keep hr from moving on hover*/
#footer li:hover {
    margin: -1em 2em -1em 2em;
}

/* End Footer */