﻿@model IEnumerable<WebApplication4.Models.ProductCategory>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <table>

        @foreach (var x in Model)
        {
            <tr>
                <th>

                    <Products>@Html.ActionLink(x.Name, "Sub", "Products", new { @class = "btn btn-info", id = x.ProductCategoryID }, "")  </Products>
                </th>
            </tr>
        }


    </table>
</body>

<style>
    body {
        padding: 100px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 50px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>